# Ignore environment variables
.env
compile_command.txt
dist/
build/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment
.venv/
AlibAi.zip

# Ignore debug script
debug.py

# Ignore compiling script (with API key)
mainCOMP.py
main.spec

# Ignore unused assets
screenshots/
icons/unscaled/